<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andras.myapplication">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MyPocApplication"
        android:allowBackup="true"
        android:icon="@drawable/telepules_cluster_big"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DragDropActivity"
            android:label="@string/title_activity_drag_drop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andras.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".ActionBarActivity"
            android:label="@string/title_activity_action_bar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PropertyAnimationActivity"
            android:label="@string/title_activity_property_animation"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andras.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andras.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andras.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".googlesamples.GoogleFusedLocationExampleActivity"
            android:label="GoogleFusedLocationExampleActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andras.myapplication.LocationActivity" />
        </activity>
        <activity
            android:name=".material.MaterialTestActivity"
            android:label="@string/title_activity_material_test"
            android:theme="@style/AppBaseThemeNoActionBar" />
        <activity
            android:name=".material.CollapsibleToolbarActivity"
            android:label="@string/title_activity_material_test"
            android:theme="@style/AppBaseThemeNoActionBar" />
        <activity
            android:name=".GesturesActivity"
            android:label="@string/title_activity_gestures"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andras.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" />
        <activity
            android:name=".ormlite.OrmLiteActivity"
            android:label="@string/title_activity_ormlite" />
        <activity
            android:name=".GoogleSignInActivity"
            android:label="@string/title_activity_ormlite" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".sniplets.ConstraintLayoutPerformanceActivity" />
        <activity android:name=".KeystoreActivity" />
        <activity android:name=".account.AccountActivity" />

        <service android:name=".account.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity android:name=".dagger2.ui.feature1.list.Feature1ListActivity" />
        <activity android:name=".dagger2.ui.feature1.detail.Feature1DetailActivity" />
        <activity android:name=".architecture.ArchitectureActivity"></activity>
    </application>

</manifest>